C++/plexil-4/schema/plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  StartCondition
  | FunctionDeclaration
  | BLOBValue
  | InOut
  | NodeBody
  | InvariantCondition
  | EQInternal
  | IsChanged
  | GlobalDeclarations
  | Node
  | NodeCommandHandleVariable
  | Concat
  | Update
  | Interface
  | EQNumeric
  | OR
  | VariableDeclarations
  | IntegerValue
  | StringValue
  | BooleanRHS
  | NodeFailureVariable
  | AND
  | PreCondition
  | Assignment
  | ArrayValue
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | High
  | LE
  | Arguments
  | NEInternal
  | EQTime
  | SkipCondition
  | NodeTimepointValue
  | Interval
  | PostCondition
  | Command
  | EndCondition
  | LibraryNodeCall
  | StringRHS
  | NodeRef
  | Alias
  | NENumeric
  | Request
  | Timepoint
  | CommandDeclaration
  | NEBoolean
  | Low
  | LookupRHS
  | LookupNow
  | LookupOnChange
  | ResourceList
  | NodeFailureValue
  | StateDeclaration
  | ArrayRHS
  | LT
  | GT
  | LibraryNodeDeclaration
  | SQRT
  | LookupAtInterval
  | In
  | Name
  | NETime
  | Pair
  | NodeOutcomeVariable
  | GE
  | MUL
  | TimeValue
  | ABS
  | EQBoolean
  | TimeRHS
  | Tolerance
  | RealValue
  | NEString
  | XOR
  | NodeStateVariable
  | EQString
  | Resource
  | DIV
  | FunctionCall
  | SUB
  | IsKnown
  | NodeList
  | (notAllowed
     | element PlexilPlan {
         ColNo?, LineNo?, FileName?, GlobalDeclarations?, Node
       })
  | NodeStateValue
  | NOT
  | ADD
  | Parameter
  | DeclareVariable
  | BooleanValue
  | NodeCommandHandleValue
  | Return
  | NodeId
  | NodeOutcomeValue
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
TimeValue =
  notAllowed
  | element TimeValue {
      element Units { IntegerValue },
      element SubUnits { IntegerValue }?
    }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
High =
  notAllowed
  | element High {
      RealValue
      | element RealVariable { NCName }
    }
LookupRHS =
  notAllowed
  | element LookupRHS { Lookup }
NEString =
  notAllowed
  | element NEString { StringExpression, StringExpression }
InvariantCondition =
  notAllowed
  | element InvariantCondition { BooleanExpression }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
SkipCondition =
  notAllowed
  | element SkipCondition { BooleanExpression }
LineNo = attribute LineNo { xsd:integer }
BooleanRHS =
  notAllowed
  | element BooleanRHS { BooleanExpression }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | FunctionCall
      | Update
      | Request
      | LibraryNodeCall
    }
AtomicValue =
  IntegerValue
  | RealValue
  | BooleanValue
  | StringValue
  | TimeValue
  | BLOBValue
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Time"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "BLOB"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
NumericRHS =
  notAllowed
  | element NumericRHS { NumericExpression }
EQInternal =
  notAllowed
  | element EQInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
LookupAtInterval =
  notAllowed
  | element LookupAtInterval {
      (Name
       | element StateName { \string }),
      Interval,
      Arguments?
    }
Update =
  notAllowed
  | element Update { Pair* }
EQString =
  notAllowed
  | element EQString { StringExpression, StringExpression }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      (CommandDeclaration
       | empty
       | StateDeclaration
       | FunctionDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { integer })+
    }
NCName = xsd:NCName
Alias =
  notAllowed
  | element Alias {
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
Resource =
  notAllowed
  | element Resource {
      element ResourceName { StringExpression }
      & element ResourcePriority { NumericExpression }
      & element ResourceLowerBound { NumericExpression }?
      & element ResourceUpperBound { NumericExpression }?
      & element ResourceReleaseAtTermination { BooleanExpression }?
    }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
In =
  notAllowed
  | element In { (DeclareVariable | DeclareArray)+ }
NOT =
  notAllowed
  | element NOT { BooleanExpression }
Assignment =
  notAllowed
  | element Assignment {
      (DeclaredVariable+ | ArrayElement+),
      (BooleanRHS
       | NumericRHS
       | StringRHS
       | TimeRHS
       | LookupRHS
       | ArrayRHS)
    }
ADD =
  notAllowed
  | element ADD {
      NumericExpression, NumericExpression, NumericExpression*
    }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      element Name { NCName },
      element Type { TypeValues },
      element InitialValue { Value }?
    }
AND =
  notAllowed
  | element AND { BooleanExpression* }
EQNumeric =
  notAllowed
  | element EQNumeric { NumericExpression, NumericExpression }
TypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Time"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Array"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "BLOB"
  | xsd:NMTOKEN "Real"
EndCondition =
  notAllowed
  | element EndCondition { BooleanExpression }
NodeState = NodeStateVariable | NodeStateValue
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      ExternalCallDeclaration, ResourceList?
    }
DIV =
  notAllowed
  | element DIV { NumericExpression, NumericExpression }
FunctionDeclaration =
  notAllowed
  | element FunctionDeclaration { ExternalCallDeclaration }
LE =
  notAllowed
  | element LE { NumericExpression, NumericExpression }
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Time"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "BLOB"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      (NodeRef | NodeId), NodeStateValue, Timepoint
    }
InOut =
  notAllowed
  | element InOut { (DeclareVariable | DeclareArray)+ }
StringExpression =
  (notAllowed
   | element StringVariable { xsd:token })
  | StringValue
  | Concat
  | Lookup
  | ArrayElement
ExternalCallDeclaration =
  (notAllowed
   | element Name { NCName }),
  Return*,
  Parameter*
EQTime =
  notAllowed
  | element EQTime { TimeExpression, TimeExpression }
DeclareArray =
  notAllowed
  | element DeclareArray {
      element Name { NCName },
      element Type { TypeValues },
      element MaxSize { nonNegativeInteger },
      (element InitialValue { AtomicValue }
       | empty
       | element FillValue { AtomicValue+ })
    }
MUL =
  notAllowed
  | element MUL {
      NumericExpression, NumericExpression, NumericExpression*
    }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { NodeRef | NodeId }
nonNegativeInteger = xsd:nonNegativeInteger
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
IsKnown =
  notAllowed
  | element IsKnown {
      DeclaredVariable
      | Lookup
      | NodeStateVariable
      | NodeOutcomeVariable
      | NodeTimepointValue
    }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
NEInternal =
  notAllowed
  | element NEInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
BLOBValue =
  notAllowed
  | element BLOBValue {
      element ExternalStructName { NCName },
      element InitialValue { integer }?
    }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
Tolerance =
  notAllowed
  | element Tolerance {
      RealValue
      | element RealVariable { NCName }
      | IntegerValue
      | element IntegerVariable { NCName }
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall { NodeId, Alias* }
SUB =
  notAllowed
  | element SUB { NumericExpression, NumericExpression }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { NodeRef | NodeId }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { NodeId }
ColNo = attribute ColNo { xsd:integer }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
FunctionCall =
  notAllowed
  | element FunctionCall {
      DeclaredVariable*,
      element Name { NCName },
      Arguments?
    }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { NodeRef | NodeId }
Interval =
  notAllowed
  | element Interval { Low?, High }
Name =
  notAllowed
  | element Name { StringExpression }
PostCondition =
  notAllowed
  | element PostCondition { BooleanExpression }
EQBoolean =
  notAllowed
  | element EQBoolean { BooleanExpression, BooleanExpression }
LookupNow =
  notAllowed
  | element LookupNow {
      (Name
       | element StateName { \string }),
      Arguments?
    }
SQRT =
  notAllowed
  | element SQRT { NumericExpression }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
    }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
Arguments =
  notAllowed
  | element Arguments { (Value | DeclaredVariable)+ }
Low =
  notAllowed
  | element Low {
      RealValue
      | element RealVariable { NCName }
    }
GE =
  notAllowed
  | element GE { NumericExpression, NumericExpression }
RepeatCondition =
  notAllowed
  | element RepeatCondition { BooleanExpression }
TimeRHS =
  notAllowed
  | element TimeRHS { TimeExpression }
IsChanged =
  notAllowed
  | element IsChanged {
      element StateName { \string }
    }
Lookup = LookupAtInterval | LookupOnChange | LookupNow
GT =
  notAllowed
  | element GT { NumericExpression, NumericExpression }
DeclaredVariable =
  (notAllowed
   | element IntegerVariable { NCName })
  | (notAllowed
     | element RealVariable { NCName })
  | (notAllowed
     | element BooleanVariable { NCName })
  | (notAllowed
     | element StringVariable { NCName })
  | (notAllowed
     | element BLOBVariable { NCName })
  | (notAllowed
     | element TimeVariable { NCName })
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
StringRHS =
  notAllowed
  | element StringRHS { StringExpression }
FileName = attribute FileName { xsd:string }
TimeExpression =
  (notAllowed
   | element TimeVariable { NCName })
  | TimeValue
  | Lookup
  | ArrayElement
ArrayElement =
  notAllowed
  | element ArrayElement {
      element Name { NCName },
      element Index { NumericExpression }
    }
Node =
  notAllowed
  | element Node {
      ColNo?,
      LineNo?,
      FileName?,
      attribute NodeType {
        xsd:NMTOKEN "FunctionCall"
        | xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
ResourceList =
  notAllowed
  | element ResourceList { Resource* }
Request =
  notAllowed
  | element Request { NodeRef, Pair* }
Value =
  IntegerValue
  | RealValue
  | BooleanValue
  | StringValue
  | TimeValue
  | BLOBValue
  | ArrayValue
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      (Name
       | element StateName { \string }),
      Tolerance?,
      Arguments?
    }
NodeList =
  notAllowed
  | element NodeList { Node* }
integer = xsd:integer
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
PreCondition =
  notAllowed
  | element PreCondition { BooleanExpression }
LT =
  notAllowed
  | element LT { NumericExpression, NumericExpression }
NETime =
  notAllowed
  | element NETime { TimeExpression, TimeExpression }
OR =
  notAllowed
  | element OR { BooleanExpression* }
NEBoolean =
  notAllowed
  | element NEBoolean { BooleanExpression, BooleanExpression }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
ArrayValue =
  notAllowed
  | element ArrayValue { AtomicValue* }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | IsChanged
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | EQTime
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | NETime
  | (notAllowed
     | element BooleanVariable { NCName })
  | BooleanValue
  | Lookup
  | ArrayElement
Concat =
  notAllowed
  | element Concat { StringExpression* }
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      element ArrayVariable { NCName }
    }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | SQRT
  | ABS
  | (notAllowed
     | element IntegerVariable { NCName })
  | (notAllowed
     | element RealVariable { NCName })
  | IntegerValue
  | RealValue
  | (notAllowed
     | element TimeVariable { NCName })
  | TimeValue
  | Lookup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
NCNameOrEmpty = xsd:NCName | xsd:string ""
NodeFailure = NodeFailureVariable | NodeFailureValue
StateDeclaration =
  notAllowed
  | element StateDeclaration { ExternalCallDeclaration }
StartCondition =
  notAllowed
  | element StartCondition { BooleanExpression }
\string = xsd:string
NENumeric =
  notAllowed
  | element NENumeric { NumericExpression, NumericExpression }
NodeId =
  notAllowed
  | element NodeId { NCName }
ABS =
  notAllowed
  | element ABS { NumericExpression }
Command =
  notAllowed
  | element Command {
      ResourceList?,
      DeclaredVariable*,
      (Name
       | element CommandName { \string }),
      Arguments?
    }
XOR =
  notAllowed
  | element XOR { BooleanExpression* }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
