Modules/Plexil/schema/plexil-script.rng

<?xml version="1.0"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <choice>
            <ref name="CommandAck"/>
            <ref name="Script"/>
            <ref name="SendPlan"/>
            <ref name="UpdateAck"/>
            <ref name="CommandAbort"/>
            <ref name="InitialState"/>
            <ref name="Command"/>
            <ref name="State"/>
            <ref name="Param"/>
            <choice>
                <notAllowed/>
                <element name="PLEXILScript">
                    <optional>
                        <ref name="InitialState"/>
                    </optional>
                    <ref name="Script"/>
                </element>
            </choice>
            <ref name="Simultaneous"/>
        </choice>
    </start>
    <define name="Param">
        <choice>
            <notAllowed/>
            <element name="Param">
                <optional>
                    <ref name="type"/>
                </optional>
                <data type="string"/>
            </element>
        </choice>
    </define>
    <define name="Script">
        <choice>
            <notAllowed/>
            <element name="Script">
                <zeroOrMore>
                    <choice>
                        <ref name="State"/>
                        <ref name="UpdateAck"/>
                        <ref name="Command"/>
                        <ref name="CommandAck"/>
                        <ref name="CommandAbort"/>
                        <ref name="Simultaneous"/>
                        <ref name="SendPlan"/>
                        <element name="Delay">
                            <mixed>
                                <zeroOrMore>
                                    <choice>
                                    <attribute>
                                    <anyName/>
                                    </attribute>
                                    <ref name="element0"/>
                                    </choice>
                                </zeroOrMore>
                            </mixed>
                        </element>
                    </choice>
                </zeroOrMore>
            </element>
        </choice>
    </define>
    <define name="State">
        <choice>
            <notAllowed/>
            <element name="State">
                <optional>
                    <ref name="type"/>
                </optional>
                <optional>
                    <attribute name="name">
                        <data type="string"/>
                    </attribute>
                </optional>
                <zeroOrMore>
                    <ref name="Param"/>
                </zeroOrMore>
                <oneOrMore>
                    <element name="Value">
                        <ref name="string"/>
                    </element>
                </oneOrMore>
            </element>
        </choice>
    </define>
    <define name="command-type">
        <group>
            <optional>
                <ref name="type"/>
            </optional>
            <optional>
                <attribute name="name">
                    <data type="string"/>
                </attribute>
            </optional>
            <zeroOrMore>
                <ref name="Param"/>
            </zeroOrMore>
            <oneOrMore>
                <choice>
                    <notAllowed/>
                    <element name="Result">
                        <ref name="string"/>
                    </element>
                </choice>
            </oneOrMore>
        </group>
        <empty/>
    </define>
    <define name="Command">
        <choice>
            <notAllowed/>
            <element name="Command">
                <ref name="command-type"/>
            </element>
        </choice>
    </define>
    <define name="string">
        <data type="string"/>
    </define>
    <define name="CommandAck">
        <choice>
            <notAllowed/>
            <element name="CommandAck">
                <ref name="command-type"/>
            </element>
        </choice>
    </define>
    <define name="InitialState">
        <choice>
            <notAllowed/>
            <element name="InitialState">
                <zeroOrMore>
                    <ref name="State"/>
                </zeroOrMore>
            </element>
        </choice>
    </define>
    <define name="element0">
        <element>
            <anyName/>
            <mixed>
                <zeroOrMore>
                    <choice>
                        <attribute>
                            <anyName/>
                        </attribute>
                        <ref name="element0"/>
                    </choice>
                </zeroOrMore>
            </mixed>
        </element>
    </define>
    <define name="Simultaneous">
        <choice>
            <notAllowed/>
            <element name="Simultaneous">
                <zeroOrMore>
                    <choice>
                        <ref name="State"/>
                        <ref name="UpdateAck"/>
                        <ref name="Command"/>
                        <ref name="CommandAck"/>
                        <ref name="CommandAbort"/>
                    </choice>
                </zeroOrMore>
            </element>
        </choice>
    </define>
    <define name="type">
        <attribute name="type">
            <choice>
                <value type="NMTOKEN">string-array</value>
                <value type="NMTOKEN">bool</value>
                <value type="NMTOKEN">string</value>
                <value type="NMTOKEN">bool-array</value>
                <value type="NMTOKEN">real-array</value>
                <value type="NMTOKEN">int-array</value>
                <value type="NMTOKEN">real</value>
                <value type="NMTOKEN">int</value>
            </choice>
        </attribute>
    </define>
    <define name="UpdateAck">
        <choice>
            <notAllowed/>
            <element name="UpdateAck">
                <optional>
                    <attribute name="name">
                        <data type="string"/>
                    </attribute>
                </optional>
            </element>
        </choice>
    </define>
    <define name="CommandAbort">
        <choice>
            <notAllowed/>
            <element name="CommandAbort">
                <ref name="command-type"/>
            </element>
        </choice>
    </define>
    <define name="SendPlan">
        <choice>
            <notAllowed/>
            <element name="SendPlan">
                <optional>
                    <attribute name="file">
                        <data type="string"/>
                    </attribute>
                </optional>
            </element>
        </choice>
    </define>
</grammar>
